@font-face {
  font-family: "HelveticaLtStd";
  src: url("../resources/fonts/HelveticaLTStd-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLtStd";
  src: url("../resources/fonts/HelveticaLTStd-Blk.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLtStd";
  src: url("../resources/fonts/HelveticaLTStd-Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLtStd";
  src: url("../resources/fonts/HelveticaLTStd-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLtStd";
  src: url("../resources/fonts/HelveticaLTStd-Obl.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
