@use "variables";

/* Modal */
.contenedorModal {
  display: none;
  position: fixed;
  z-index: 100;
  padding: 5vh 8vw;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.85);

  transform: translateZ(250px);
  transform-style: preserve-3d;

  &.visible {
    display: block;
  }

  .modal {
    background-color: #fff;
    height: 92%;
    border-radius: 20px;
    padding: 3.5rem 2rem;
    overflow: auto;
    box-shadow: 0 1.7px 2.7px rgba(0, 0, 0, 0.028),
      0 5.6px 8.9px rgba(0, 0, 0, 0.042), 0 25px 40px rgba(0, 0, 0, 0.07);
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;

    .contenedorCerrar {
      text-align: right;
      position: fixed;
      top: 2rem;
      right: 2rem;
      color: #fff;

      i {
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }

  .navigation {
    // all: unset;
    background: unset;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #prev,
    #next {
      color: rgba(255, 255, 255, 0.7);
      cursor: pointer;

      &:hover {
        color: variables.$main-color;
      }
      &#prev {
        position: relative;
        right: 2rem;
      }

      &#next {
        position: relative;
        left: 2rem;
      }
    }

    /* i {
      color: rgba(255, 255, 255, 0.7);
      cursor: pointer;

      &:hover {
        color: variables.$main-color;
      }

      &#prev {
        position: relative;
        right: 2rem;
      }

      &#next {
        position: relative;
        left: 2rem;
      }
    } */

    .step {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 50%;
      width: 5px;
      height: 5px;
    }

    .step:not(:last-child) {
      margin-right: 8px;
    }

    .stepActivo {
      background-color: variables.$main-color;
      transform: scale(1.7);
    }

    .oculto {
      visibility: hidden;
    }
  }
}

.cuerpoModalTexto {
  margin-bottom: 2rem;

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
  }

  p {
    line-height: 1.2em;
  }
}

.cuerpoModalGaleria {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  grid-template-columns: minmax(100px, 800px);

  img {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
  }

  img:last-child {
    margin-bottom: 2rem;
  }
}

.cerrarModal:hover,
.cerrarModal:focus {
  cursor: pointer;
}

// .aviso {
//   font-style: italic;
//   font-size: 0.8rem;
//   padding: 0.7rem;
//   border-radius: 0.5rem;
//   background-color: variables.$gray-color;
//   display: inline;
// }

.cuerpoModalGaleria img,
.cuerpoModalGaleria video {
  width: 100%;
}

.pieFoto {
  text-align: left;
  font-size: 0.85rem;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* .linkProyecto {
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid variables.$main-color;
  color: variables.$text-color;
  transition: all 0.2s ease-in-out;
}

.linkProyecto:hover {
  background-color: variables.$main-color;
  color: #ffffff;
} */

/* -------------------- */
/* Estilos para Desktop */
@media screen and (min-width: 600px) {
}
