@use "variables";

.cabeceraTrabajos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: variables.$nav-height-mobile;
  padding: variables.$padding-movil;
  height: calc(100vh - #{variables.$nav-height-mobile});
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$main-color;
    z-index: -2;
  }

  // Seleccionamos los h1
  // Lo que la librería Typed va a meter dentro
  h1,
  .tituloWeb
  /* .typed-cursor */ {
    --minFontSize: 1.5rem;
    --maxFontSize: 90px;
    --scaler: 5vw;
    font: {
      weight: 600;
      size: clamp(
        var(--minFontSize),
        calc(1rem + #{var(--scaler)}),
        var(--maxFontSize)
      );
    }
  }

  // Y el cursor
  // .typed-cursor {
  //   position: relative;
  //   top: 0;
  //   transform: translateY(50%);
  // }

  &#cabeceraTrabajosDesarrollador {
    &::after {
      background-image: url("../images/textura_stripes.png");
      opacity: 0.25;
      z-index: -1;
      background-size: 10px 4px;
    }

    #strings {
      opacity: 0;
    }
  }

  &#cabeceraTrabajosDiseño {
    &::after {
      background: {
        image: url("../images/textura_papel.jpg");
        position: center center;
        repeat: no-repeat;
        size: cover;
      }
      mix-blend-mode: luminosity;
      opacity: 0.75;
      z-index: -1;
    }

    .tituloDiseño {
      border: 4px solid variables.$text-color;
      // padding: 2rem 3rem; Esto sería para escritorio
      padding: 1.3rem 1.6rem;
      transform-style: preserve-3d;

      &:hover {
        cursor: url("../images/custom-cursor.png"),
          url("../images/custom-cursor.cur"), cell;
      }

      h1 {
        transform: translateZ(20px);
      }

      .manejador {
        content: "";
        position: absolute;
        z-index: 2;
        width: 15px;
        height: 15px;
        border: 4px solid variables.$text-color;
        background-color: variables.$main-color;

        &:nth-child(1) {
          top: 0;
          left: 0;
          transform: translate(-60%, -60%);
        }

        &:nth-child(2) {
          top: 0;
          left: 50%;
          transform: translate(-50%, -60%);
        }

        &:nth-child(3) {
          top: 0;
          left: 100%;
          transform: translate(-40%, -60%);
        }

        &:nth-child(4) {
          top: 50%;
          left: 0;
          transform: translate(-60%, -50%);
        }

        &:nth-child(5) {
          top: 50%;
          left: 100%;
          transform: translate(-40%, -50%);
        }

        &:nth-child(6) {
          top: 100%;
          left: 0;
          transform: translate(-60%, -40%);
        }

        &:nth-child(7) {
          top: 100%;
          left: 50%;
          transform: translate(-50%, -40%);
        }

        &:nth-child(8) {
          top: 100%;
          left: 100%;
          transform: translate(-40%, -40%);
        }
      }
    }
  }
}

.seccionGridTrabajos {
  columns: 1 auto;
  column-gap: 1.5rem;
  padding: variables.$padding-movil;

  .contenedorMiniatura {
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 18px;
    overflow: hidden;
    cursor: pointer;

    .imgBx {
      // overflow: hidden;
      position: relative;
      border: 0;
      padding: 0;

      .darken {
        background: transparent;
        transition: all 1s cubic-bezier(0.7, 0.01, 0.37, 1);
      }

      img {
        width: 100%;
        transition: all 0.4s cubic-bezier(0.7, 0.01, 0.37, 1);
        transform-origin: center 40%;
      }
    }

    .details {
      position: relative;
      z-index: 3;
      padding: 0.8rem 1rem;
      padding-bottom: 1.1rem;

      h3.titulo {
        text-align: left;
        font-weight: 600;
        overflow: hidden;
        position: relative;

        span {
          transition: all 0.4s cubic-bezier(0.7, 0.01, 0.37, 1);
        }

        span:first-child {
          position: relative;
          bottom: 0;
          left: 0;
        }

        span:last-child {
          position: absolute;
          color: #fff;
          text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
          left: 0;
          top: 0;
          transform: translateY(100%);
          opacity: 0;
        }
      }
    }

    &:hover {
      .imgBx {
        .darken {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          bottom: -3rem;
          width: 100%;
          height: 200%;
          // background-color: rgba(0, 0, 0, 0.3);
          background: rgb(255, 255, 255);
          background: -moz-linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 1) 70%,
            rgba(0, 0, 0, 1) 100%
          );
          background: -webkit-linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 1) 70%,
            rgba(0, 0, 0, 1) 100%
          );
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 1) 70%,
            rgba(0, 0, 0, 1) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
        }

        img {
          transform: scale(1.5) translateY(3%);
          transform-origin: center 30%;
        }
      }
      .details {
        .titulo {
          span:first-child {
            transform: translateY(-100%);
            bottom: 40px;
            opacity: 0;
          }

          span:last-child {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .cabeceraTrabajos {
    &#cabeceraTrabajosDiseño {
      .tituloDiseño {
        padding: 2rem 3rem;
      }
    }
  }

  .seccionGridTrabajos {
    padding: variables.$padding-escritorio;
    columns: 3 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

//
// $letters: 20;
// $cubic-slow: cubic-bezier(0.7, 0.01, 0.37, 1);

// .roll-up {
//   overflow: hidden;
//   position: relative;
//   > span {
//     display: inline-block;
//     position: relative;
//     @for $i from 1 through $letters {
//       &:nth-child(#{$i}) {
//         transition-delay: #{$i * 0.008}s;
//       }
//     }
//     > span {
//       display: inline-block;
//       transition: 0.6s $cubic-slow;
//       transition-delay: inherit;
//       &:nth-child(1) {
//         position: relative;
//       }
//       &:nth-child(2) {
//         position: absolute;
//         transform: translateY(100%);
//         left: 0;
//         color: variables.$main-color;
//       }
//     }
//   }
// }

// .contenedorMiniatura {
//   &:hover {
//     .details {
//       .roll-up {
//         > span {
//           > span {
//             &:nth-child(1) {
//               transform: translateY(-110%);
//             }
//             &:nth-child(2) {
//               transform: translateY(0);
//             }
//           }
//         }
//       }
//     }
//   }
// }
